<ion-header>
  <ion-toolbar>
    <ion-title>lista-empleos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="showCrearEmpleo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      Ultimos Empleos
    </ion-list-header>

    <ion-item *ngFor="let empleo of empleados | async">
      <ion-avatar slot="start">
        <img [src]="empleo.image.url">
      </ion-avatar>
      <ion-label (click)="showEmpleo(empleo.uid)">

        <h3>{{empleo.titulo}}</h3>
        <p>{{empleo.descripcion}}</p>
        <p>{{empleo.salario}}</p>

      </ion-label>
      <ion-button shape="round" (click)="showEditarEmpleoId(empleo.uid)">Editar</ion-button>
    </ion-item>

  </ion-list>


</ion-content>
